.refresh-btn {
  padding: 10px 20px;
}

.vertical-displayer {
  max-height: 200px;
  overflow-y: auto;
}

.table-displayer {
  width: 100%;
}

.table-displayer tbody tr:nth-child(even) {
  background-color: lightgray;
  /* color: white; */
}

.fetch-holder {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fetch-holder button {
  width: 200px;
  height: 100px;
  font-size: 18pt;
}